<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="MembershipDB" connectionString="Data Source=localhost;Initial Catalog=TenantPortal;Integrated Security=True;Pooling=True" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SQL" userIsOnlineTimeWindow="1">
      <providers>
        <clear />
        <add name="SQL" connectionStringName="MembershipDB" type="System.Web.Security.SqlMembershipProvider" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>