<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace|Debug|Info|Warn|Error|Fatal"
      internalLogFile="c:\temp\_logs\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="allfile" xsi:type="File"
				fileName="c:\_logsDSC\k2CommonAPI\${shortdate}.log"
			layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile" />
	</rules>
</nlog>